.panel-heading {
  h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 0 0;
  }
}

.department-panel-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem auto;
  display: flex;
  gap: 3rem;
}
